<div data-controller="login-form-component">
  <%= form_for(@resource, as: @resource_name, url: @url) do |f| %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block border p-2 bg-white w-full h-10 focus:outline-none focus:border-blue-400 rounded text-sm placeholder-gray-600 placeholder-opacity-40 mt-2 text-gray-600", placeholder: "E-mail*"%>
      <%= f.password_field :password, autocomplete: "current-password", class:"block border p-2 bg-white w-full h-10 focus:outline-none focus:border-blue-400 rounded text-sm placeholder-gray-600 placeholder-opacity-40 mt-2 text-gray-600", placeholder: "Password*" %>
      <% if @rememberable %>
        <div class="text-left block  p-2 w-full h-10 rounded text-sm placeholder-gray-600 placeholder-opacity-40 mt-2 text-gray-600">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
      <%= f.submit "Log in", class: "w-80 h-9 bg-blue-500 text-sm font-semibold mt-2 rounded-sm text-gray-100 focus:outline-none hover:bg-blue-600"%>
    <% end %>
</div>