<!DOCTYPE html>
<html>
  <head>
    <title>Purrize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-200">
    <main class="container mx-auto px-5">
      <div id="flashes" class="mb-8 absolute right-0 -top-20 w-full">
        <%= flash_notices %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
